<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="mesger">
    <header class="mesger-header">
      <div class="mesger-header-title">
        <i class="fas fa-coffee"></i> Chatbot <i class="fas fa-coffee"></i>
      </div>
    </header>

    <main class="mesger-chat">
      <div class="mesg left-mesg">
        <div class="mesg-img" style="background-image: url(https://images.unsplash.com/photo-1509042239860-f550ce710b93?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></div>

        <div class="mesg-bubble">
          <div class="mesg-info">
            <div class="mesg-info-name">Chatbot</div>
            <div class="mesg-info-time">12:45</div>
          </div>

          <div class="mesg-text">
            Hi, welcome to ChatBot! Go ahead and send me a message. You can type 'menu' to view the menu, 'order item_name' to order an item, or 'exit' to exit the chatbot. 😄
          </div>
        </div>
      </div>

    </main>

    <form class="mesger-inputarea">
      <input type="text" class="mesger-input" id="textInput" placeholder="Enter your message">
      <button type="submit" class="mesger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const mesgerForm = get(".mesger-inputarea");
    const mesgerInput = get(".mesger-input");
    const mesgerChat = get(".mesger-chat");


    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "https://images.unsplash.com/photo-1509042239860-f550ce710b93?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
    const PERSON_IMG = "https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg";
    const BOT_NAME = "Chatbot";
    const PERSON_NAME = "You";

    mesgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const mesgText = mesgerInput.value;
      if (!mesgText) return;

      appendMessage(PERSON_NAME, PERSON_IMG, "right", mesgText);
      mesgerInput.value = "";
      botResponse(mesgText);
    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const mesgHTML = `
<div class="mesg ${side}-mesg">
  <div class="mesg-img" style="background-image: url(${img})"></div>

  <div class="mesg-bubble">
    <div class="mesg-info">
      <div class="mesg-info-name">${name}</div>
      <div class="mesg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="mesg-text">${text}</div>
  </div>
</div>
`;

      mesgerChat.insertAdjacentHTML("beforeend", mesgHTML);
      mesgerChat.scrollTop += 00;
    }

    function botResponse(rawText) {

      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const mesgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", mesgText);

      });

    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }



  </script>

</body>

</html>